body, html {
    overflow-x: hidden; /* Prevent horizontal scroll */
    width: 100%;
  }

/* .header{
    position:fixed;
    width: 100%;
}
.first{
    padding-top: 90px;
}
.first h2{
   
    padding-left: 30px;
}
.first h5{
    padding-top: 8px;
    letter-spacing: 5px;
}
.first span{
    color:#e66c8e;
}
.head1 span{
    font-size: 70px;
}

.card1{
    box-shadow: 3px 0px 0px #e6668a;
    margin: 7px;
}
.card1 h3{
    color: #e6668a;
    font-weight: 600;
}
.head2 span{
    font-size: small;
}
.box h2{
 font-weight: 600;
}
.card2{
    background-color: #e66c8e;
}
.apps .logo img{
    height: 120px;
    width: 120px;
}
.logo img:hover{
    transform: scale(1.1);
}
.apps h1{
    font-weight: 600;
}
.apps{
    text-align: center;
}
.tool img{
    height: 110px;
    width: 110px;
}
.tools{
    text-align: center;
    background-color: #e66c8e;
    padding: 30px;
}
.tools h1{
    padding-bottom: 30px;
} */